<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SSO</title>
    <meta name="description" content="{{title}}" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="https://authenticate.hasenhuettl.cc/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" />
    <link rel="stylesheet" href="https://authenticate.hasenhuettl.cc/css/dark.css">
    <link rel="stylesheet" href="https://authenticate.hasenhuettl.cc/css/funcs.css">
    <link rel="stylesheet" href="/sso.css">
    <script src="https://authenticate.hasenhuettl.cc/js/jquery.min.js"></script>
    <script src="https://authenticate.hasenhuettl.cc/js/funcs.js"></script>
  </head>
  <body class="mdc-typography">
    <main class="content center">

      <div class="center">
        <a href="https://authenticate.hasenhuettl.cc/"><img id="home" src="https://authenticate.hasenhuettl.cc/favicon.ico"></a>
      </div>

      <div class="center" id="header">
          <h1>SSO</h1>
      </div>

      <div class="center">
          <button class="button-primary button" id="button-register" data-i18n="Sign_Up">Sign Up</button>
      </div>
      <div class="center">
          <button class="button-secondary button" id="button-login" data-i18n="Login">Login</button>
      </div>

    </main>
  </body>
<script>
    const authMethod = document.title;
    let startTime;

    window.onload = function(){
        $("#button-register").on("click", function(){ redirectToAuth('signup'); });
        $("#button-login").on("click", function(){ redirectToAuth('login'); });
    }

    function redirectToAuth(endpoint) {
        startTime = new Date().getTime();
        const params = new URLSearchParams({
            redirect: '/' + endpoint,
            action: endpoint,
            authMethod: authMethod,
            startTime: startTime
        }).toString();

        location.href = '/auth/google?' + params;
    }
</script>
</html>
