body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #27403c;
}

.category {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.category h2 {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.button {
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  background-color: #ffffffbb;
  border: 3px solid #000000bb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 50px 50px;
}

.button:hover {
  background-color: #000000bb;
  color: #ffffffbb;
}

.password {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1008/1008876.png');
}

.know {
  background-color: #b877d5;
}

.have {
  background-color: #987dfe;
}

.are {
  background-color: #48cfad;
}

.somewhere {
  background-color: #4fc1e9;
}

section {
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #EEEEEE;
	padding: 5px 5px 5px 5px;
	box-shadow: 0px 3px 6px 0px #A0A0A0;
	border-radius: 4px;
}

header nav {
	width: 100%;
	padding-top: 0px;
	z-index: 100;
	font-size: 14px;
}

main {
  position: relative;
  top: 45px;
  padding: 20px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1b2e2b;
  height: 50px;
  justify-content: center;
}

header nav li {
  display: inline-flex;
  width: auto;
  height: auto;
  align-items: center;
}

header nav li span {
	display: block;
	color: white;
	align-items: center;
	text-decoration: none;
}

header nav li p {
  align-items: center;
  margin: 0px;
	display: inline-flex;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

header nav li a:hover {
	background-color: #fbf315;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#separator {
  border-right: 2px dashed #ffffff80;
}

button {
  flex-grow: 1;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 15px 10px #ffffff60;
}

