body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #27403c;
}

a[disabled],
a[disabled]:hover {
  background-color: #f00;
  color: #000000bb;
  cursor: default;
  box-shadow: 0px 0px 0px 0px;
}

button {
  flex-grow: 1;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #04AA6D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 15px 10px #ffffff60;
}

.category {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50px;
  border-color: rgb(39, 64, 60);
  border-width: 20px;
  border-style: double;
}

.category h2 {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.button {
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: #00877080;
  border: 3px solid #000000bb;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: 30px 30px;
  /* flex: 0 20%; */
}

.button:hover {
  background-color: #008770;
  box-shadow: 0px 0px 5px 1px black;
}

.button-link {
  background-color: #0088ff;
}

.button-link:hover {
  background-color: #5ab2ff;
}

.button-delete {
  background-color: red;
}

.button-delete:hover {
  background-color: #ff5d5d;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.button:disabled:hover,
.button[disabled]:hover {
  box-shadow: none;
}

.password				{ background-image: url('/img/passwords.png'); }
.pin					{ background-image: url('/img/pin.png'); }
.security-question		{ background-image: url('/img/security_questions.png'); }
.game-based-auth		{ background-image: url('/img/gamebased.png'); }
.sms					{ background-image: url('/img/sms.png'); }
.e-mail					{ background-image: url('/img/e-mail.png'); }
.device-fingerprint		{ background-image: url('/img/device_fingerprint.png'); }
.device-certificates	{ background-image: url('/img/device_certificate.png'); }
.authenticator-apps		{ background-image: url('/img/auth_apps.png'); }
.passkeys				{ background-image: url('/img/passkey.png'); }
.smart-cards			{ background-image: url('/img/smartcard.png'); }
.usb-keys				{ background-image: url('/img/usb_key.svg'); }
.sso					{ background-image: url('/img/single-sign-on.svg'); }
.facial-recognition		{ background-image: url('/img/facial-recognition.png'); }
.voice-authentication	{ background-image: url('/img/voice-recognition.png'); }
.behavioral-biometrics	{ background-image: url('/img/behavioral_recognition.png'); }
.ip-address-filtering	{ background-image: url('/img/ip-address.png'); }
.gps-verification		{ background-image: url('/img/location-pointer.png'); }
.de 					{ background-image: url('/img/de.png'); }
.en 					{ background-image: url('/img/usa.png'); }

.references {
  max-width: 300px;
}

.know {
  background-color: #b877d5;
}

.have {
  background-color: #987dfe;
}

.are {
  background-color: #4fc1e9;
}

.somewhere {
  background-color: #48cfad;
}

section {
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #EEEEEE;
	padding: 5px 5px 5px 5px;
	box-shadow: 0px 3px 6px 0px #A0A0A0;
	border-radius: 4px;
}

header nav {
	width: 100%;
	padding-top: 0px;
	z-index: 100;
	font-size: 14px;
  margin-bottom: 20px;
}

main {
  position: relative;
  top: 45px;
  padding: 20px;
}

#indexmain {
  top: 0px;
  bottom: 50px;
}

header {
    max-height: 150px;
}

header nav ul,
footer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 1%;
  overflow: hidden;
  background-color: #1b2e2b;
  justify-content: center;
}

header nav li {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 200px;
}

header nav .button {
  align-content: center;
  min-height: 36px;
  height: -webkit-fill-available; /* Match height of biggest element */
  margin-right: 0px;
  margin-left: 0px;
}

#separator {
  border-right: 2px dashed #ffffff80;
}



