[Unit]
Description=Scripts

[Service]
ExecStart=/usr/bin/node /var/www/scripts/server.js
Restart=always
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
EnvironmentFile=/var/www/setup/.credentials.env
WorkingDirectory=/var/www/scripts

[Install]
WantedBy=multi-user.target

