[Unit]
Description=Smart Cards

[Service]
ExecStart=/usr/bin/node /var/www/node/smart-cards/server.mjs
Restart=always
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/node/smart-cards

[Install]
WantedBy=multi-user.target

