[Unit]
Description=Voice Authentication Python Server

[Service]
ExecStart=/usr/bin/python3 /var/www/node/voice-authentication-api/voice_auth.py
Restart=always
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/node/voice-authentication-api

[Install]
WantedBy=multi-user.target

