body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.category {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 40px;
}

.category h2 {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.button {
    flex-grow: 1;
    width: 100%;
    max-width: 200px;
    padding: 10px 20px;
    margin: 10px; /* Adjust the vertical margin as needed */
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: 50px 50px;
}

.password {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1008/1008876.png');
}

.button:hover {
    background-color: #0056b3;
}

.know {
    background-color: #cdb4db;
}

.have {
    background-color: #ffc8dd;
}

.are {
    background-color: #bde0fe;
}

.somewhere {
    background-color: #c0d1c9;
}
